body {
  margin: 0;
  background-image: url(Background.jpg);
  font-family: Helvetica;
}

.Header {
  background-color: #333;
  color: #eee;
  border-top: 2px solid #333;
  border-bottom: 2px solid #bbb;
  top: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.Navigation {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: #333;
  border-bottom: 1px solid #bbb;
}

.Navigation ul {
  margin: 0%;
  padding: 0%;
  margin-left: 30%;
  margin-right: 30%;
  overflow: hidden;
}

.Navigation li {
  float: left;
}

.Navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.2s;
}

.Navigation li a:hover:not(.active) { background-color: #111; }

.Navigation .active { background-color: #4CAF50; }

.Navigation .active:hover { background-color: #449C47; }


.Main {
  position: relative;
  color: #555555;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 7%;
  padding: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Lucida Sans Unicode";
  text-align: justify;
}

.Main h2 {
  color: #444444;
  font-weight: normal;
}

.Main a {
  transition-property: background;
  transition-duration: 0.3s;
}
.Main a:link, div.Main a:visited, div.Main a:active { color: inherit; border-radius: 5px; text-decoration-color: #CCCCCC;}
.Main a:not(.non-text-link):hover { background-color: #d5fdd5; text-decoration-color: #d5fdd5;}
.Main a:not(.non-text-link):active { background-color: #449C47; color: #555;}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  outline-color: white;
  outline-width: 5px;
  outline-style: solid;
  background-color: white;
  z-index: -1;
  opacity: 0.5;
}

.highlight pre {
  font-family: Consolas, monospace;
  font-size: 90%;
  padding:8px 15px;
  background:#333333;
  border-radius:3px;
  border:1px solid #c7c7c7;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
  overflow:auto;
  overflow-y:hidden;
}

.highlight .o { color:#ce9178; }
.highlight .p { color:#c586c0; }
.highlight .g { color:#6a9955; }
.highlight .r { color:#ac4142; }
.highlight .b { color:#569cd6; }
.highlight .gr { color:grey; }
.highlight .lb { color:#9cdcfe; }
.highlight .br { color:#8f5536; }
.highlight .y { color:#dcdcaa; }
.highlight .dg { color:#4ec9b0; }
.highlight .lg {color:#B5CEA8; }

.math { overflow: auto; }
